<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	id="WebApp_ID" version="2.5">
	<display-name>Chap08Book_B</display-name>
	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>
	<servlet>
		<description></description>
		<display-name>RegisterUserServlet</display-name>
		<servlet-name>RegisterUserServlet</servlet-name>
		<servlet-class>download.RegisterUserServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>RegisterUserServlet</servlet-name>
		<url-pattern>/registerUser</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>DeleteCookiesServlet</display-name>
		<servlet-name>DeleteCookiesServlet</servlet-name>
		<servlet-class>download.DeleteCookiesServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>DeleteCookiesServlet</servlet-name>
		<url-pattern>/deleteCookies</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>CheckUserServlet</display-name>
		<servlet-name>CheckUserServlet</servlet-name>
		<servlet-class>download.CheckUserServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>CheckUserServlet</servlet-name>
		<url-pattern>/checkUser</url-pattern>
	</servlet-mapping>
	<session-config>
		<session-timeout>30</session-timeout>
	</session-config>
</web-app>